@media only screen and (max-width:1300px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        padding: 25px 0;
        transition:all 0.3s ease-out
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .burger{
        display: block;
        border-radius: 25px;
        padding: 10px;
    }
    .burger:hover{
        background-color: #0f0;
    }
    section:hover .row i{
        color: #0f0;
        text-shadow: 0 0 100px #0f0;
    }
    .h-nav-resp{
        
        height: 50px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    section1{
        height: 100vh !important;
    }
    .card{
        
        width: 40% !important;
    }
    .card{
        padding-bottom: 52px;
    }
    .card h1{
        padding-bottom: 10px;
    }
    .card p{
        padding-top: 25px;
    }
    .card-abt{
        padding:8%;
        padding-bottom:30% ;
        margin: auto;
        padding-top: 10%;
    }
    .card-abt h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .secondhalf img{
        max-width: 75%;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px 1px;
    }
    .footer{
        padding: 35px;
    }
    .footer .container1{
        flex-direction: column;
    }
    .footer .container1 {
        margin-right: 5px;
        margin-bottom: 40px;
    }
    .footer .container1 .sec.aboutus{
        padding: 0px;
    }
    .contactfooter .info li{
       display: flex;
       flex-direction: column;
    }
    .contactfooter{ 
        padding: 0;  
       
    }
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }
     .content-section{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         text-align: center;
     }
     .content-section .content{
        margin: 25px -12px;
     }


}

