@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0;
 padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 35%;
  
    border-radius: 50px;
    margin: 3px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: left;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-list li a {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 26px 30px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    
}


.nav-list li a:hover{
    color: #0f0;
  }
.rightnav{
   /* background-color: aqua;*/
    width: 30%;
    text-align: right;
    padding: 0px 28px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 9px;
}
.background{
    background:#111;
    background-size: cover;
    background-blend-mode: darken;
    
}
.firstsection{
   height: 100vh;
}
.box-main{
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}
.section-main{
    z-index: 0;
}
section{
    z-index: 0;
    position: relative !important;
    background-color: #111;
    height: 100vh !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}
section .row{
    z-index: 0;
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px 0 !important;
    white-space: nowrap;
    font-size: 64px !important;
    top: -45% !important;
    transform: rotate(-30deg);
}

i{
    z-index: 0;
    color: rgba(109, 102, 102, 0.219);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}
i:hover{
    z-index: 0;
    transition: 0s;
    color: #0f0;
    text-shadow: 0 0 120px #0f0;
}
section .row div
{
    animation: animate1 80s linear infinite !important;
    animation-delay: -80s !important;
}
section .row div:nth-child(2){
    animation: animate2 80s linear infinite !important;
    animation-delay: -40s !important;
}
.burger{
    padding: 15px;
   
}
@keyframes animate1
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }

}
@keyframes animate2
{
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-200%);
    }

}

section .row:nth-child(even) div
{
    animation: animate3 80s linear infinite !important;
    animation-delay: -80s !important;
}
section .row:nth-child(even) div:nth-child(2)
{
    animation: animate4 80s linear infinite !important;
    animation-delay: -40s !important;
}
@keyframes animate3
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
        
    }

}
@keyframes animate4
{
    0%
    {
        transform: translateX(-200%);
    }
    100%
    {
        transform: translateX(0%);
    }

}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.secondhalf{
    width: 30%;
}

.secondhalf img{
    border: 4px solid white;
    border-radius: 300px;
    display: block;
    margin: auto;
    max-width: 170%;
    align-items: center;
}
.text-big{
 font-size: 40px;
 
}
.text-small{
 font-size: 19px;
}

.btn{
 padding: 8px 20px;
 margin: 7px 3px;
 outline: none;
 background: linear-gradient(90deg,#c0c0c0,#697072);   
 border-radius: 8px;
 cursor: pointer;
 color: white;
 font-size: 20px;
}
.btn:hover{
    background: linear-gradient(90deg,#d4d4d4,#c0c0c0);
    color: black;
}
.btn-sm{
    vertical-align: middle;
    padding: 6px 10px;
    font-size: 14px;
    background: none;
    border: 2px solid white;
}

.section{
display: flex;
justify-content:space-evenly;
align-items: center;
padding: 10px;
max-width: 80%;
margin: auto;
font-family: 'Ubuntu', sans-serif;
}
.section-left{
    flex-direction: row-reverse;
    }
.paras{
    padding: 0px 65px;
}
.sectiontag{
    padding: 16px 0;
}
.sectionsubtag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    width: 280px;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 25px;
}
.contact{
    background-color: #f6f5f4;
    height: 870px;
    
}
.text-center{
    text-align: center;
   padding-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}
.form{
    max-width: 62%;
    margin: 25px auto;
}
.form-input{
    margin: 15px 0;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-dark{
    padding: 13px 19px;
    border-radius: 28px;
    display: flex;
    margin: auto;
    max-width: 70%;
    font-size: 25px;
    color: #f6f5f4;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    font-family: 'Ubuntu', sans-serif;
  
}
.btn-dark:hover{
    background: linear-gradient(90deg,#755bea,#ff72c0);
}
.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.burger{
    display: none;
    position: absolute;
    top: 15px;
    right:5%;
    cursor: pointer;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}
.card{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    z-index: 100000;
    align-items: center;
    margin: 10px;
    padding: 20px;
    justify-content: center !important;
    width: 30% !important;
    height: 400px !important;
    min-width: 100px;
    
    margin-top: -200px;
    color: white;
    box-shadow: 0 0 25px 0 rgba(160, 168, 200, 0.712)!important;

}

.my-img{
    margin-top: 10px;
    z-index: 100000;
    width: 100%;
    max-height: 275px;
    margin-bottom: 15px;
    object-fit: contain;
    border-radius: 30%;
  
}
.btnabt{
   justify-content: center;
    align-items: center;
}
.btn-abt{
    padding: 8px 20px;
    margin: 7px 70px;
    outline: none;
    text-decoration: none;
    background: linear-gradient(90deg,#c0c0c0,#0d0d0e);   
    border-radius: 35px;
    cursor: pointer;
    color: white;
    justify-content: center;
    font-size: 20px;
}
.btn-abt:hover{
    background: linear-gradient(90deg,#0f0,#0d0d0e); 
}
.btn-abt a{
    text-decoration: none;
    align-items: center;
    color: white;
    justify-content: center !important;
}
.card:hover{
    background-image: linear-gradient(-45deg, #000000 0%, rgba(174, 179, 174, 0.226) 50%);
}
section1{
    height: 70vh !important;
    width: 100%;
    display: flex !important;
    
    overflow: hidden; 
  background-color: #111;
    justify-content: center !important;
    align-items: center;
}
.abt-title{
    align-items: center;
    justify-content: center;
}
.card-abt{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    margin-top: 40px;
    width: 22% !important;
    height: 400px !important;
    min-width: 100px;
    box-shadow: 0 0 25px 0 rgba(123, 231, 61, 0.856)!important;
    background-image: linear-gradient(-45deg, #000000 0%, rgba(38 79 38 / 65%) 50%);
}

.card-abt:hover{
    background-image: linear-gradient(-45deg, #000000 0%, rgba(174, 179, 174, 0.226) 50%);
    box-shadow: 0 0 25px 0 rgba(182, 187, 179, 0.726)!important;;
}
.card-abt h1{
    margin-bottom: 5px;
    color: #0f0;

}

.card-abt p{
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 5px;
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
    padding: 35px;

}
.abt-link{
    padding: 5px;
    background:linear-gradient(-45deg, #fbfafa96 0%, rgba(5, 255, 5, 0.445) 50%);
    border: 2px solid grey;
    border-radius: 15px;
    text-decoration: none;
    color: #111;
}
.abt-link:hover{
  background: linear-gradient(-45deg, #f6f1f1 0%, rgba(174, 179, 174, 0.226) 50%);
}
.content-section{
    display: flex;
    flex-direction: row;
    justify-content: center;     
}

.content-section .content{
    float: left;
    background: #fff;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.7);
    text-align: -webkit-center;
    margin: 0px 70px;
    transition: 0.5s;
    border-radius: 104px;
}


.sci-about{
    display:inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci-about a:hover{
    border-radius: 4px;
    background:black;
    
}
.sci-about a .fa:hover{
    color: white;
}
.sci-about a .fa{
    color: black;
    padding: 5px;
    font-size: 20px;
}

.img-section{
    
    width: 80%;
}
.img-section img{
    width: 100%;
    height: auto;
    border-radius: 140px;
}
.title h1{
    justify-content: center;
    text-align: center;
    font-size: 35px;
   padding-top: 50px;
    font-family: 'Ubuntu', sans-serif;
}
.content-section .content .circle{
    margin-top: 20px;
    color:white;
    background: #000;
    margin: auto;
    padding: 80px;
    outline: none;
    
    border-radius: 100px;
}
.content-section .content:hover{
    background: linear-gradient(90deg,#0162c8,#55e7fc);
      color: black;
}

.content-section .content p{
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
}
.content-section .content p1{
    font-weight: bolder;
    font-size:25px;
    justify-content: left;
    color: blue;
}

footer-1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}
footer{
    position: relative;
    height: auto;
    background-color: #111;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 100%;
}
footer .container1{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
footer .container1 .sec{
    margin-right: 30px;
}
footer .container1 .sec.aboutus{
    width: 30%;
    padding: 0px 30px;
    
}

footer .container1 h2{

    position: relative;
    color:#fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container1 h2:before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #0f0;
}
footer p{
    color: white;
}
.sci{
    display: flex;
    margin-top: 20px;
}
.sci li{
    list-style: none;
}
.sci li a{
    display:inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: #0f0;
}
.sci li a .fa{
    color: #fff;
    font-size: 20px;
}
.quicklinks{
    position: relative;
    
    
}
.quicklinks ul li{
    list-style: none;
}
.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}
.quicklinks ul li a:hover{
 color: #fff;
}
.contactfooter{ 
    padding: 0 125px;  
    margin-right: 0 !important;
}
.contactfooter .info
{
    position: relative;
}
.contactfooter .info li{
    display: flex;
    
    margin-bottom: 16px;
}
.contactfooter .info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contactfooter .info li span{
    color: #999
}
.contactfooter .info li a{
    color: #999;
    text-decoration: none;
}
.copyright{
   
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}